{{ define "footer" }}

<div class="container">
    <div class="row">
        <div class="col test-center">
            <hr>
            <small class="text-muted">Copyright &copy; GoCode.edu</small>
        </div>
    </div>
</div>

{{ end }}
